                                                            /*••••••••••••                
                                                         ••••••••••••••••••••             
            handcrafted•••••                           •••••             ••••••            
        •with•love•&•care•by•           ••••         •••••                  •••••          
     •••••••           •••••          ••••          ••••                     •••••         
   •••••              •••••          ••••          ••••                       •••••         
  JJC•               •••••          ••••          ••••                        •••••         
 CJE•               •••••          ••••          ••••                         ••••         
  GSR•             •••••          ••••          ••••                                       
   JTW•••         •••••          ••••          ••••                                        
     CJS••       •••••          ••••          ••••                                         
       JMS      •••••          ••••          ••••                                          
                ••••          ••••          ••••                                          
               ••••          •••••         ••••                                            
               ••••        •••••••        ••••                                             
               •••••    •••2015••••     •••••                                              
                •Whitelabel•   •wlabel.co••                                                
                  •••••••       ••••••••
                              
Theme Name: EisVice
Author: Me & Kevin

0.0 BASE 
  0.1 Resets
  0.2 Generics, Utilities, & Consolidations
  0.3 Webfonts 

1.0 LAYOUT
  1.1 Header Structure
  1.2 Footer Structure
  1.3 Headings
  1.4 Forms 

2.0 MODULES  
  // Page Specific 
  
3.0 RESPONSIVE
  3.1 Only Computer - No tablet or below 
  3.2 Only Tablet & Above - No Mobile Phone 
  3.3 Primary Mobile - Tablet & Below 
  3.4 Secondary Mobile - Phone & Below  
  3.5 iPad Only 
  3.6 iPhone Only

4.0 Themes
  // If Applicable
  
  
0.0 BASE
---------------------------------------------------------------------------------------------------- */

/* 0.1 Resets 
---------------------------------------------------------------------------------------------------- */
html, body      { /*height: 100%;*/ min-width: 320px; } 
*, html, body, ul, ol, li, img, p, a 
                { margin: 0px; padding: 0; border: 0; outline: 0; list-style-image: none; list-style-type: none; line-height: 1; font-weight: lighter; -webkit-tap-highlight-color: transparent; tap-highlight-color: transparent; text-decoration:none; }
a, input, button, textarea, select, .animate 
                { -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -webkit-appearance: none; border-radius: 0; }
::selection     { background: #000; color: #FFF; }
::-moz-selection{ background: #000; color: #FFF; }

/* 0.2 Generics, Utilities & Consolidations
---------------------------------------------------------------------------------------------------- */
.sp             { background-repeat: no-repeat; position: relative; }
.left           { float: left; }
.right          { float: right; }
.hide           { display: none; }
.cloak          { opacity: 0; }
.center         { text-align: center; }
.phark          { text-indent: 100%; white-space: nowrap; overflow: hidden; }
.smallcaps      { font-variant: small-caps; }
.underline      { text-decoration: underline; }
.uppercase, .shout      
                { text-transform: uppercase; }
.noSelect       { -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.bb             { box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box;-webkit-box-sizing: border-box; -khtml-box-sizing: border-box; }
.yep            { display: inline-block; }
.teehee         { display: table; }
.yep, .teehee   { position: relative; width: 100%; }
.curtain        { background-color: rgba(255, 255, 255, 0.9); bottom: 0; height: 100%; left: 0; position: fixed; top: 0; width: 100%; z-index: 9; }

/* MODBOX FRAMEWORK when possible import _modbox.scss */
.mw,.mb         { box-sizing: border-box; display: inline-block; position: relative; }
.mw,.mwc        { clear: both; margin: 0 -1.65%; }
.mw             { width: 103.3%; }
.mb             { float: left; margin: 1.65%; }
.mb75           { width: 71.7%; }
.mb66           { width: 63.0%; }
.mb60           { width: 56.7%; }
.mb50           { width: 46.7%; }
.mb40           { width: 36.7%; }
.mb33           { width: 30.0%; }
.mb25           { width: 21.7%; }
.mb20           { width: 16.7%; }
.mb10           { width: 6.7%   }

/* 0.3 Webfonts
---------------------------------------------------------------------------------------------------- 
Webfonts here
*/

@font-face 	  { font-family: 'PN';
			    src: url('assets/fonts/proximanova-regular.eot');
			    src: url('assets/fonts/proximanova-regular.eot?#iefix') format('embedded-opentype'),
			         url('assets/fonts/proximanova-regular.woff') format('woff'),
			         url('assets/fonts/proximanova-regular.ttf') format('truetype'),
			         url('assets/fonts/proximanova-regular.svg#ProximaNovaRgRegular') format('svg');
			    font-weight: normal;
			    font-style: normal; }

@font-face 	  { font-family: 'PN-L';
			    src: url('assets/fonts/proximanova-light.eot');
			    src: url('assets/fonts/proximanova-light.eot?#iefix') format('embedded-opentype'),
			         url('assets/fonts/proximanova-light.woff') format('woff'),
			         url('assets/fonts/proximanova-light.ttf') format('truetype'),
			         url('assets/fonts/proximanova-light.svg#ProximaNovaLtRegular') format('svg');
			    font-weight: normal;
			    font-style: normal; }

@font-face 	  { font-family: 'PN-LI';
			    src: url('assets/fonts/proximanova-lightitalic.eot');
			    src: url('assets/fonts/proximanova-lightitalic.eot?#iefix') format('embedded-opentype'),
			         url('assets/fonts/proximanova-lightitalic.woff') format('woff'),
			         url('assets/fonts/proximanova-lightitalic.ttf') format('truetype'),
			         url('assets/fonts/proximanova-lightitalic.svg#ProximaNovaLtItalic') format('svg');
			    font-weight: normal;
			    font-style: normal; }

@font-face 	  { font-family: 'PN-I';
			    src: url('assets/fonts/proximanova-regularitalic.eot');
			    src: url('assets/fonts/proximanova-regularitalic.eot?#iefix') format('embedded-opentype'),
			         url('assets/fonts/proximanova-regularitalic.woff') format('woff'),
			         url('assets/fonts/proximanova-regularitalic.ttf') format('truetype'),
			         url('assets/fonts/proximanova-regularitalic.svg#ProximaNovaRgItalic') format('svg');
			    font-weight: normal;
			    font-style: normal; }

@font-face 		{font-family: 'PN-SB';
			    src: url('assets/fonts/proximanova-semibold.eot');
			    src: url('assets/fonts/proximanova-semibold.eot?#iefix') format('embedded-opentype'),
			         url('assets/fonts/proximanova-semibold.woff') format('woff'),
			         url('assets/fonts/proximanova-semibold.ttf') format('truetype'),
			         url('assets/fonts/proximanova-semibold.svg#ProximaNovaLtBold') format('svg');
			    font-weight: normal;
			    font-style: normal; }

@font-face 	  { font-family: 'PN-B';
			    src: url('assets/fonts/proximanova-bold.eot');
			    src: url('assets/fonts/proximanova-bold.eot?#iefix') format('embedded-opentype'),
			         url('assets/fonts/proximanova-bold.woff') format('woff'),
			         url('assets/fonts/proximanova-bold.ttf') format('truetype'),
			         url('assets/fonts/proximanova-bold.svg#ProximaNovaRgBold') format('svg');
			    font-weight: normal;
			    font-style: normal; }

@font-face 	  { font-family: 'PN-XB';
			    src: url('assets/fonts/proximanova-extrabold.eot');
			    src: url('assets/fonts/proximanova-extrabold.eot?#iefix') format('embedded-opentype'),
			         url('assets/fonts/proximanova-extrabold.woff') format('woff'),
			         url('assets/fonts/proximanova-extrabold.ttf') format('truetype'),
			         url('assets/fonts/proximanova-extrabold.svg#ProximaNovaThBold') format('svg');
			    font-weight: normal;
			    font-style: normal; }

.bold, strong, .strong 
                {}
.italic, em     {}


/* 1.0 LAYOUT - Global Structure
---------------------------------------------------------------------------------------------------- */

body {
  background-color: #252b2f;
  color: #0e151;
  font-family: Georgia;
  font-size: 18px;
}

.coming-soon {
  padding: 25% 0;
}

a {
  color: #42708d;
}

a.logo {
  background-image: url("assets/images/eisvice.png");
}

p {
  line-height: 170%;
  margin: 0 0 20px;
}

.wrap {
    margin: 0 auto;
    max-width: auto;
    position: relative;
    width: auto;
}

/* 1.1 Header Structure
---------------------------------------------------------------------------------------------------- */

/* 1.2 Footer Structure
---------------------------------------------------------------------------------------------------- */

/* 1.3 Headings
---------------------------------------------------------------------------------------------------- */

h1,h2,h3,h4,h5,h6 {
  line-height: 120%;
}

h1 {
  font-family: "PN-L";
  font-size: 48px;
  margin: 0 0 20px;
}

h2 {}

h3 {}

/* 1.4 Forms
---------------------------------------------------------------------------------------------------- */

/* 2.0 MODULES - Page Specific
---------------------------------------------------------------------------------------------------- */

section {
  background-color: #FFFFFF;
  padding: 5%;
  margin: 0 auto;
  width: 50%;
}

.post-header {
  margin: 0 0 60px;
}

.meta {
  color: #a6a6a6;
  font-family: "PN";
}

.meta .band {
  font-family: "PN-B";
}

/* 3.0 RESPONSIVE
---------------------------------------------------------------------------------------------------- */

/* 3.1 Only Computer - No tablet or below */
@media screen and (min-width: 1024px){}

/* 3.2 Only Tablet & Above - No Mobile Phone */
@media screen and (min-width: 680px){}

/* 3.3 Primary Mobile - Tablet & Below */
@media screen and (max-width: 1024px){}

/* 3.4 Secondary Mobile - Phone & Below  */
@media screen and (max-width: 680px){
  
  section {
    width: 100%;
  }
  
  
}

/* 3.5 iPad Only */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px){}

/* 3.6 iPhone Only */
@media only screen and (max-device-width: 480px){}
